/*Test CSS*/

section.blog {
    margin-top: 116px;
    background: #ccc;

    padding: 15px 0;
}

.blogWr img {
    width: 130px;
}

.blogWr {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.gallerypage {
    margin-top: 116px!important;
    z-index: 0;
}

.content-wrapper .section-gallery.gallerypage:before,
.content-wrapper .section-gallery.gallerypage:after{
    content: "";
    background: none;
}

.cooperationImg{

    width: 150px;
}

.cooperationWr{
    float: left;
}

.cleared {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height: 0;
    overflow: hidden;
}